* {
  margin: 0px;
  padding: 0px;
  font-family: "Heebo";
}

body {
  background-color: #fff5f7;
  overflow: hidden;
}

#UserInfoHeader{
  position: absolute;
  right: 10px;
  top: 1%;
  z-index: 5;
  width: 225px;
  text-align: center;
}

#UserInfoHeader_Text {
  margin-left: 25px;
  float: right;
  width: 150px;
  height: 50px;
}

#UserInfoHeader h4{
  text-align: left;
}

#UserInfoHeader ul{
  list-style: none;
  text-align: left;
  font-size: small;
}

#UserInfoHeader img{
  width: 50px;
  border-radius: 25px;
  float: left;
}

#header {
  position: relative;
  background-color: #fff5f7;
  text-align: center;
}

#logo img {
  width: 10%;
}

#logo {
  height: 80px;
  border-bottom: 3px solid #ffaaab;
}

#navi {
  height: 25px;
}

#navi button {
  display: inline-block;
  transition-duration: 0.4s;
  border: solid #ff5e6c;
  border-width: 1px;
  border-radius: 3px;
  padding-left: 5px;
  padding-right: 5px;
}

#navi a {
  padding: 15px;
  text-decoration: none;
}

#navi button :visited {
  color: black;
}

#navi button:hover {
  background-color: #ff5e6c;
  color: white;
  border: solid #ff5e6c;
  border-width: 1px;
  border-radius: 4px;
  box-shadow: 0 5px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

#content_img {
  height: 750px;
  overflow-y: scroll;
  overflow-x: hidden;
}

h1 {
  font-size: 1.5em;
  border-top: 3px solid #ffaaab;
}

.img_list img {
  height: 75px;
}

.img_main {
  position: relative;
  margin-top: 10px;
  margin-bottom: 10px;

  height: 700px;
}
.image_outer {
  position: absolute;
  top: 0px;
  width: 1920px;
  filter: blur(5px);
  height: 725px;
  z-index: 1;
  transition-duration: 2s;
}

.image_inner {
  width: 500px;
  background-color: #ff5e6c;
  position: absolute;
  top: 100px;
  z-index: 5;
  left: 0px;
  right:0px;
  margin-left: auto;
  margin-right: auto;
}

.image_inner:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  transition-duration: 0.8s;
}

.image_inner img {
  width: 500px;
  border-bottom: solid 2px;
  border-top: solid 2px;
}

.img_info {
  text-align: center;
}

.img_info th {
  width: 500px;
}

#content_register {
  height: 600px;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 500px;
  border: solid;
  border-width: 2px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 15px 15px 15px 15px;
  background-color: white;
}
#content_register table {
  width: 500px;
  margin-top: 50px;
}
#content_register tr {
  text-align: left;
  width: 40px;
}
#content_user_index {
  width: 600px;
  margin-left: auto;
  margin-right: auto;
}

#content_user_index button {
  width: 600px;
  height: 200px;
  margin-top: 20px;
  margin-bottom: 20px;
}
h1 {
  text-align: center;
}

#content_profile_page table {
  margin-left: auto;
  margin-right: auto;
}

.profile_pic {
  width: 300px;
  margin-left: auto;
  margin-right: auto;
}

.profile_pic img {
  width: 300px;
}

#AdminiFrame{
  height: 600px;
}

#form_login {
  background-color: grey;
  margin-left: auto;
  margin-right: auto;
  width: 500px;
  height: 600px;
  padding-top: 50px;
}

#form_register {
  background-color: grey;
  margin-left: auto;
  margin-right: auto;
  width: 500px;
  height: 600px;
  padding-top: 50px;
}

#footer {
  width: 100%;
  position: absolute;
  bottom: 0px;
  background-color: silver;
}

.footer_menu_button {
  text-align: center;
  width: 500px;
  margin-left: auto;
  margin-right: auto;
}
.footer_menu_button th {
  width: 200px;
}

 .table_upload {
   margin-left: auto;
   margin-right: auto;
   border: solid black;
   border-width: 1px;
   border-radius: 4px;
 }


 .table_upload td button {
   color: blue;
 }

 .user_list td{
   padding: 10px;
 }
 .user_list img{
  width: 25px;
 }

 #AdminiFrame{
   overflow-y: scroll;
   overflow-x: hidden;
   border: hidden;
  width: 100%;
 }