* {
  margin: 0px;
  padding: 0px;
  font-family: "Heebo";
}

body {
  background-color: #fff5f7;
  overflow: hidden;
}

#header {
  position: relative;
  background-color: #fff5f7;
  text-align: center;
}

#logo img {
  width: 10%;
}

#logo {
  height: 80px;
  border-bottom: 3px solid #ffaaab;
}

#navi {
  height: 25px;
}

#navi li {
  display: inline-block;
}

#navi a {
  padding: 15px;
  text-decoration: none;
}

#navi li :visited {
  color: black;
}

#navi li:hover {
  background-color: #ff5e6c;
  font-weight: bold;
  text-decoration: underline black;
  border: solid;
  border-width: 1px;
  border-radius: 13px;
}

/* CSS für die Tabellen
#content_img{
}
.image_single img{
  width: 50%;
}
*/
/* CSS für die fertige Ansicht*/
#content_img {
  height: 750px;
  overflow-y: scroll;
  overflow-x: hidden;
}

h1 {
  font-size: 1.5em;
  border-top: 3px solid #ffaaab;
}

.img_list img {
  height: 75px;
}

.img_main {
  position: relative;
  margin-top: 10px;
  margin-bottom: 10px;

  height: 700px;
}
.image_outer {
  position: absolute;
  top: 0px;
  width: 1920px;
  filter: blur(5px);
  height: 725px;
  z-index: 1;
}

.image_inner {
  width: 500px;
  background-color: #ff5e6c;
  position: absolute;
  top: 100px;
  z-index: 5;
  left: 0px;
  right:0px;
  margin-left: auto;
  margin-right: auto;
}

.image_inner img {
  width: 500px;
  border-bottom: solid 2px;
  border-top: solid 2px;
}

.img_info {
  text-align: center;
}

.img_info th {
  width: 500px;
}

#content_register {
  height: 600px;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 500px;
  border: solid;
  border-width: 2px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 15px 15px 15px 15px;
  background-color: white;
}
#content_register table {
  width: 500px;
  margin-top: 50px;
}
#content_register tr {
  text-align: left;
  width: 40px;
}
#content_user_index {
  width: 600px;
  margin-left: auto;
  margin-right: auto;
}

#content_user_index button {
  width: 600px;
  height: 200px;
  margin-top: 20px;
  margin-bottom: 20px;
}
h1 {
  text-align: center;
}

#content_profile_page table {
  margin-left: auto;
  margin-right: auto;
}

.profile_pic {
  width: 300px;
  margin-left: auto;
  margin-right: auto;
}

.profile_pic img {
  width: 300px;
}

#form_login {
  background-color: grey;
  margin-left: auto;
  margin-right: auto;
  width: 500px;
  height: 600px;
  padding-top: 50px;
}

#form_register {
  background-color: grey;
  margin-left: auto;
  margin-right: auto;
  width: 500px;
  height: 600px;
  padding-top: 50px;
}

#footer {
  width: 1920px;
  position: absolute;
  bottom: 0px;
  background-color: silver;
}

.footer_menu_button {
  text-align: center;
  width: 500px;
  margin-left: auto;
  margin-right: auto;
}
.footer_menu_button th {
  width: 200px;
}