* {
  margin: 0px;
  padding: 0px;
  font-family: 'Heebo';
}

body {
  background-color: #e6e9eb;
  overflow: hidden;
}

#header {
  position: relative;
  background-color: silver;
  border-radius: 0px 0px 20px 20px;
  text-align: center;
}

#logo img {
  width: 15%;
}

#logo {
  height: 100px;
}

#navi li {
  display: inline-block;
}

#navi a {
  padding: 15px;
  text-decoration: none;
  color: red;
}
#navi li :hover{
color: black;
font-style: italic;
}

/* CSS für die Tabellen
#content_img{

}

.image_single img{
  width: 50%;
}
*/
/* CSS für die fertige Ansicht*/
#content_img {
  height: 750px;
  overflow-y: scroll;
}

h1 {
  font-size: 1.5em;
}

.img_list img{
height: 75px;
}

.image_main {
  margin-top: 10px;
  margin-bottom: 10px;
  width: 500px;
  border: solid;
  border-width: 2px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 15px 15px 15px 15px;
  background-color: white;
}

.image_main img {
  width: 500px;
  border-radius: 13px 13px 0px 0px;
  border-bottom: solid 2px;
}

.img_info {
  text-align: center;
}

.img_info th {
  width: 500px;
}

#content_register{
  height: 600px;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 500px;
  border: solid;
  border-width: 2px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 15px 15px 15px 15px;
  background-color: white;
}
#content_register table{
  width: 500px;
  margin-top: 50px;
}
#content_register tr {
  text-align: left;
  width: 40px;
}
#content_user_index{
  width: 600px;
  margin-left: auto;
  margin-right: auto;
}

#content_user_index button{
width: 600px;
height: 200px;
margin-top: 20px;
margin-bottom: 20px;
}
h1 {
  text-align: center;
}

#content_profile_page table{
  margin-left: auto;
  margin-right: auto;
}

.profile_pic{
  width: 300px;
  margin-left: auto;
  margin-right: auto;
}

.profile_pic img{
  width: 300px;
}

#form_login{
  background-color: grey;
  margin-left: auto;
  margin-right: auto;
  width: 500px;
  height: 600px;
  padding-top: 50px;
}


#form_register{
  background-color: grey;
  margin-left: auto;
  margin-right: auto;
  width: 500px;
  height: 600px;
  padding-top: 50px;
}

#footer {
  width: 1920px;
  position: absolute;
  bottom: 0px;
  background-color: silver;
}

.footer_menu_button{
  text-align: center;
  width: 500px;
  margin-left: auto;
  margin-right: auto;
}
.footer_menu_button th {
  width: 200px;
}
